@import "tailwindcss";
@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer utilities{
    .spiner{
        animation:split 2s  
    }
    @keyframes split {
        0%{
            background-color: red;
        }
        100%{
            background-color: blue;
        }
    }
}

@utility flex-center{
@apply flex justify-center items-center;
}

    .star {
        width: 10px; /* Or any desired size */
        height: 10px;
        background-color: gold; /* Or any desired color/gradient */
        clip-path: polygon(
            50% 0%, /* Top point */
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35% /* Back to first segment */
        );
    }

 