@import "tailwindcss";
@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer utilities{
    .spiner{
        animation:split 2s  
    }
    @keyframes split {
        0%{
            background-color: red;
        }
        100%{
            background-color: blue;
        }
    }
}